* {
  color: white;
  font-family: 'Montserrat';
  font-weight: 500;
  text-align: left;

  @media (max-width: 680px) {
    font-size: small;
  }
  @media (max-width: 400px) {
    font-size: 8px;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #04040d;
}
