.navbar {
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.nav-link {
  cursor: pointer;
  border: 1px solid white;
  padding: 0vw 2vw;
  margin: 0.5vw 1vw;
}
.nav-link a {
  color: #4d4155;
  text-decoration: none;
}

li {
  list-style: none;
}
