.footer{
    background-color: #04040D;
}
.sb__footer{
    padding:0 3%;
    padding-right: 6%;
    padding-bottom:2%;
    display:flex;
    flex-direction:row;
}
.sb__footer-links{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction:row;
    flex-wrap:wrap;
    width:100%;
    text-align:left;
}
.sb__footer-below-links{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction:row;
    flex-wrap:wrap;
    gap: 20px;
    color:#A1A1A1;
    font-family: Prompt;
}
.sb__footer-below-links a{
    text-decoration: none;
    color:#A1A1A1;
    font-family: Prompt;
}
.socialmedia{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction:row;
    flex-wrap:wrap;
    gap:10px;
}
.socialmedia img{
    width:80%;
}
.line{
    padding-bottom: 0;
}
@media screen and (max-width:645px)
{
    .sb__footer-links{
        display:flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction:column;
    }
    .sb__footer-below-links{
        display:flex;
        flex-direction:column;
        gap:0px;
    }
    .line{
        width:auto
    }
}