.logo{
  filter: drop-shadow(0 0 2rem #BC00FE);
}
.horizontal_a{
  position: absolute;
  width:max-content;
  overflow:hidden;
  padding-left:30%
  /* margin-right:80%; */
}
.horizontal_b{
  position: absolute;
  width:min-content;
  padding-top: 4%;
 overflow: hidden;
  /* padding-right:20%; */
}
.horizontal_c{
  position: absolute;
   /* width:100px; */
   padding-right: 70%;
 /* padding-top: 4%;
 overflow: hidden; */
  /* padding-right:20%; */
}
.horizontal_d{
  position: absolute;
  width:fit-content;
  padding-top: 8%;
 overflow: hidden;
}